@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

/*BUTTON BASE*/
.btn-base, .btn-base:active, .btn-base:focus, .btn-blue, .btn-blue:active, .btn-blue:focus, .btn-dark, .btn-dark:active, .btn-dark:focus, .btn-green, .btn-green:active, .btn-green:focus, .btn-light, .btn-light:active, .btn-light:focus, .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-new-base, .btn-new-base:active, .btn-new-base:focus, .btn-new-dark, .btn-new-dark:active, .btn-new-dark:focus, .btn-new-link, .btn-new-link:active, .btn-new-link:focus, .btn-new-link:hover, .btn-new-outline-dark, .btn-new-outline-dark:active, .btn-new-outline-dark:focus, .btn-new-outline-white, .btn-new-outline-white:active, .btn-new-outline-white:focus, .btn-new-yellow, .btn-new-yellow:active, .btn-new-yellow:focus, .btn-outline-black, .btn-outline-black:active, .btn-outline-black:focus, .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-light, .btn-outline-light:active, .btn-outline-light:focus, .btn-outline-white, .btn-outline-white:active, .btn-outline-white:focus,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton,.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active,.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus,
.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton,.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton:active,.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton:focus,
.mktoForm .mktoButtonWrap.mktoSkip button.mktoButton, .mktoForm .mktoButtonWrap.mktoSkip button.mktoButton:active, .mktoForm .mktoButtonWrap.mktoSkip button.mktoButton:focus{
    border-radius: 16px !important;
    box-shadow: none;
    opacity:1;
    font-size:18px;
    min-width: 16em;
    width: auto;
    max-width:100%;
    padding-left:1em;
    padding-right:1em;
    line-height:1.8em;
    letter-spacing:-0.02em;
    transition: all .2s ease;
    text-transform:none !important;
    font-weight:600 !important;
    font-family:"Open Sans", "Inter", Arial, san-serif !important;
}
@media(max-width:1200px){
        .btn-base, .btn-base:active, .btn-base:focus, .btn-blue, .btn-blue:active, .btn-blue:focus, .btn-dark, .btn-dark:active, .btn-dark:focus, .btn-green, .btn-green:active, .btn-green:focus, .btn-light, .btn-light:active, .btn-light:focus, .btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-new-base, .btn-new-base:active, .btn-new-base:focus, .btn-new-dark, .btn-new-dark:active, .btn-new-dark:focus, .btn-new-link, .btn-new-link:active, .btn-new-link:focus, .btn-new-link:hover, .btn-new-outline-dark, .btn-new-outline-dark:active, .btn-new-outline-dark:focus, .btn-new-outline-white, .btn-new-outline-white:active, .btn-new-outline-white:focus, .btn-new-yellow, .btn-new-yellow:active, .btn-new-yellow:focus, .btn-outline-black, .btn-outline-black:active, .btn-outline-black:focus, .btn-outline-dark, .btn-outline-dark:active, .btn-outline-dark:focus, .btn-outline-light, .btn-outline-light:active, .btn-outline-light:focus, .btn-outline-white, .btn-outline-white:active, .btn-outline-white:focus {
            min-width: inherit;
            width: 100%;
            max-width:420px;
            padding-left:1em;
            padding-right:1em;
        }
}
.btn-base:hover, .btn-blue:hover, .btn-dark:hover, .btn-green:hover, .btn-light:hover, .btn-new-base:hover, .btn-new-dark:hover,.btn-new-outline-dark:hover, .btn-new-outline-white:active,
.btn-new-outline-white:hover, .btn-new-yellow:hover,  .btn-outline-black:hover, .btn-outline-dark:hover, .btn-outline-light:hover, .btn-outline-white:hover,.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover,.mktoForm .mktoButtonWrap.mktoSkip button.mktoButton:hover {
    opacity:1;
    box-shadow: 0 15px 30px rgba(0,0,0,.25);
}
.btn-base:active, .btn-base:focus,
.btn-blue:active,.btn-blue:focus,
.btn-dark:active,.btn-dark:focus,
.btn-dark:active,.btn-dark:focus,
.btn-green:active,.btn-green:focus,
.btn-light:active,.btn-light:focus,
.btn-new-base:active,.btn-new-base:focus,
.btn-new-dark:active,.btn-new-dark:focus,
.btn-new-outline-dark:active,.btn-new-outline-dark:focus,
.btn-new-outline-white:active,.btn-new-outline-white:focus,
.btn-new-yellow:active, .btn-new-yellow:focus,
.btn-outline-black:active,.btn-outline-black:focus,
.btn-outline-dark:active,.btn-outline-dark:focus,
.btn-outline-light:active,.btn-outline-light:focus,
.btn-outline-white:active,.btn-outline-white:focus {
    opacity:1;
    box-shadow: none;
}



/*BUTTON BASE DEFAULT*/
.btn-base, .mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color:#7dcc26 !important;
    color:#000000 !important;
}
.btn-base:hover, .mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background-color:#222f39 !important;
    color:#fff !important;
}



/*PRIMARY BUTTON*/
.btn-new-yellow,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
    background-color:#7dcc26 !important;
    color:#000000 !important;
}
.btn-new-yellow:hover,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:hover {
    background-color:#a3db66 !important;
    color:#000 !important;
}
.btn-new-yellow:active,
.btn-new-yellow:focus,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:active,
.mktoForm .mktoButtonWrap.mktoSimple .mktoButton:focus{
    background-color:#a3db66 !important;
    color:#000 !important;
    opacity: .6 !important;
}

.btn-small,
.btn-small:active,
.btn-small:focus {
    width:auto;
    min-width:auto;
    line-height:.8em;
    margin:15px auto;
    padding-left:2em;
    padding-right:2em;
}

.btn-bottom {
    position:absolute;
    bottom:15px;
}

.mktoForm .mktoButtonWrap.mktoSimple button.mktoButton,
.mktoForm .mktoButtonWrap.mktoSkip button.mktoButton {
    text-shadow:none !important;
}


/*BUTTON DARK */
.btn-dark,  .btn-green,  .btn-light,  .btn-new-dark {
  color: #fff;
  background: #222f39 !important;
}
.btn-dark:active, .btn-dark:focus,.btn-green:active, .btn-green:focus,.btn-light:active, .btn-light:focus,.btn-new-dark:active, .btn-new-dark:focus {
    background: #222f39 !important;
}
.btn-dark:hover,.btn-green:hover, .btn-light:hover,.btn-new-dark:hover {
    background: #000000 !important;
}


/*HOVER STATES*/
.btn-new-outline-dark:hover, .btn-outline-black:hover, .btn-outline-light:hover {
    background-color: #00008b !important;
}


/*ACTIVE STATES*/
.btn-new-outline-dark:active, .btn-outline-black:active, .btn-outline-light:active {
    box-shadow:none;
    background-color: #0000bf !important;
}

/*OUTLINE BUTTONS */
.btn-new-outline-dark {
  border-color:#222f39 !important;
  color:#222f39 !important;
}
.btn-new-outline-dark:hover, .btn-outline-black:hover, .btn-outline-light:hover {
  background: #222f39 !important;
  color:#fff !important;
}
.btn-new-outline-dark:hover, .btn-outline-black:hover, .btn-outline-light:hover {
  color: #fff;
  background: #222f39 !important;
  opacity:1 !important;
  text-decoration: none;
}


/*LINK BUTTONS*/
.btn-link, .btn-link:active, .btn-link:focus, .btn-link:hover, .btn-new-link, .btn-new-link:active, .btn-new-link:focus, .btn-new-link:hover {
    color:#00008b !important;
    transition: all .3s ease;
    text-align: center !important;
}
.btn-link:hover,.btn-new-link:hover {
  color:#0000bf !important;
}
.btn-link::after, .btn-new-link::after {
  content: '';
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'><path d='M0 0h24v24H0V0z' fill='none'/><path d='M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z' fill='%2300008b' /></svg>") !important;
    transition:all .2s ease;
    margin-top:7px;
}


/*BLUE BUTTON*/
.btn-blue {
  background: #fff !important;
  color:#222f39 !important;
}
.btn-blue:hover {
  background: #f0f0f0 !important;
  color:#000000 !important;
}
.btn-blue:active,.btn-blue:focus {
  background: #f8f8f8 !important;
  color:#000000 !important;
}





/*UTILITY & FOOTER */
.block.footer_universal,
.block.header_universal .utility {
  background:#222f39 !important;
}











/*FONTS*/
body main {
    font-size:18px;
    position: relative;
}
body, html, p, li, ul  {
        font-family:"Open Sans", "Inter", Arial, san-serif !important;
}
.bold, strong {
  font-weight: 700 !important;
}

body main h1,
body main h2,
body main h3,
body main h4,
body main h5,
body main h6,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    line-height:1.1em;
    font-family:'Poppins','Open Sans', Arial, san-serif !important;
}


body main h1, body main .head1  {
    font-size:56px !important;
    font-weight:400 !important;
    letter-spacing: -0.02em !important;
    line-height:114% !important;
}

body main h2, body main .head2 {
    font-size:46px !important;
    font-weight:400 !important;
    letter-spacing: -0.02em !important;
    line-height:120% !important;
}
body main h3, body main .head3 {
    font-size:36px !important;
    font-weight:400 !important;
    line-height:126% !important;
    letter-spacing: -0.01em !important;
}
body main h4, body main .head4 {
    font-size:30px !important;
    font-weight:500 !important;
    line-height:132% !important;
    letter-spacing: -0.005em;
}
body main h5, body main .head5 {
    font-size:24px !important;
    font-weight:500 !important;
    line-height:132% !important;
}
body main h6, body main .head6 {
    font-size:16px !important;
    font-weight:500 !important;
    line-height:138% !important;
}


body main h1 strong,
body main h2 strong,
body main h3 strong{
    font-weight:700 !important;
}
body main h4 strong,
body main h5 strong{
    font-weight:700 !important;
}
body main h6 strong{
    font-weight:800 !important;
}
main p.utility-notification {
    font-size:16px;
    margin-bottom:10px !important;
}
body main .row p {
    margin-bottom:25px;
}
body main .subhead {
    font-size:26px !important;
    font-family:'Poppins','Open Sans', Arial, san-serif !important;
    letter-spacing: -0.02em !important;
    line-height:114% !important;
}
body .panel h4.panel-title {
    font-size:20px !important;
}




/*REVIEWS*/
.block.reviews_stars_consumer .bv_stars_component_container linearGradient stop:first-child{
    stop-color:#00008b !important;
}
body [data-bv-show="rating_summary"] .bv_main_container {
    display:block !important;
    text-align:left !important;
    padding:0 !important;
}
body [data-bv-show="rating_summary"] .bv_main_container .bv_main_container_row_flex {
    position: relative !important;
    top:-5px !important;
}
body [data-bv-show="rating_summary"] .bv_main_container .bv_avgRating_component_container,
body [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_text,
body [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist{
  color:#00008b !important;
}
body [data-bv-show="rating_summary"] .bv_main_container .bv_avgRating_component_container:hover,
body [data-bv-show="rating_summary"] .bv_main_container .bv_numReviews_text:hover,
body [data-bv-show="rating_summary"] .bv_main_container .bv_button_buttonMinimalist:hover{
  color:#222f39 !important;
}


/*BV CUSTOMER REVIEWS*/
#bv-cgc-container .image-container > div {
  display:none;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-search .bv-masthead,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-generic-submission .bv-masthead {
  background-color:transparent !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-search .bv-masthead .bv-masthead-product,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-generic-submission .bv-masthead .bv-masthead-product {
  border-bottom:none !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-search .bv-masthead .bv-masthead-product .bv-stars-container .bv-rating-stars-on {
  color:#7dcc26 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-text-link {
  color:#222f39 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-text-link:hover {
  color:#0000b8 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-search,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-generic-submission {
  padding-bottom:15px !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-secondary-ratings-value,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-secondary-rating-summary-value,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-secondary-slider-summary-value,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-slider-value {
    background-color: #7dcc26 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-action-bar-header,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-mbox-breadcrumb,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-title,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-summary-title{
     font-family:"Open Sans", "Inter", san-serif !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-title,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-summary-title {
  font-size:20px !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-item-author-profile-offset-on .bv-content-header {
  padding:0px;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-pagination-container .bv-content-btn {
  color:#fff !important;
  background:#7dcc26 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 .bv-content-pagination-container .bv-content-btn:hover {
  color:#fff !important;
  background:#222f39 !important;
}
/*BV BUTTONS*/
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-write-review,
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-read-review,
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-ask-question
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-first-to-review,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-button{
  border-radius:20px !important;
  font-family:"Open Sans", "Inter", san-serif !important;
  font-size:14px !important;
  padding:6px 30px !important;
  background-color:#7dcc26 !important;
}
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-write-review:hover,
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-read-review:hover,
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-ask-question:hover,
body .bv-cv2-cleanslate .bv-core-container-164 button.bv-first-to-review:hover,
body .bv-cv2-cleanslate .bv-core-container-164 .bv-button:hover{
   font-family:"Open Sans", "Inter", san-serif !important;
   font-size:14px !important;
   background-color:#94d450 !important;
}
body #bv-cgc-container h3 {
    font-size:28px !important;
}



/*MODAL WINDOWS*/
.modal-dialog .modal-content .modal-header {
    background-color:#222f39 !important;
    border-color:#222f39 !important;
    padding:15px 15px 5px !important;
}
.modal-dialog .modal-content .modal-header .modal-title {
    color:#fff !important;
}
.modal-header {
    border-radius:10px 10px 0 0;
}
.modal-header .close {
    position:relative;
    top:-6px;
}
.modal-dialog .modal-content,
.modal-body {
    border-radius: 10px;
}





/*superscript*/
sup {
    font-size:50% !important;
    vertical-align: super !important;
    top:0 !important;
}




/*PRICING BLOCK */
.block.product_fabricator_bundle_consumer,
.product-block{
    border-radius: 25px !important;
    background:#fff !important;
    padding:30px !important;
    border:5px solid #7dcc26 !important;
    color:#222f39 !important;
}
.block.product_fabricator_consumer .max-width-390 {
    max-width:100% !important;
}
.block.product_fabricator_consumer .device-types-width {
    padding:0 !important;
}
.block.product_fabricator_bundle_consumer h4,
.product-block h4{
    font-size:24px !important;
}
.block.product_fabricator_bundle_consumer .orange-text,
.block.product_fabricator_bundle_consumer a,
.product-block a,
.product-block h3,
.product-block li,
.product-block .price-container span,
.product-block p,
.product-block i,
.block.product_fabricator_consumer .product-block .change-years input.years,
.block.product_fabricator_consumer .product-block .discount-container{
    color:#222f39 !important;
}
.block.product_fabricator_bundle_consumer .unit-price-amount,
.product-block .price-container span{
    font-size:52px !important;
}
main .block.product_fabricator_bundle_consumer .offer-details a {
    font-size:12px;
    font-weight: 600;
}
.block.product_fabricator_consumer .product-block .change-years input.years {
  border-color:#222f39 !important;
}
.block.product_fabricator_consumer .product-block .features-list {
    font-size:18px;
}
.block.product_fabricator_consumer .product-block .features-list ul li {
    font-size: 14px !important;
    margin:10px auto !important;
	line-height:1.2em !important;
}
.featured-hidden {display:none;}
.block.product_fabricator_consumer .product-block .discount-container{
    font-size: 18px;
    font-weight:bold;
    margin:10px auto !important;
}
.block.product_fabricator_consumer .product-block .discount-container > span {
	display:inline-block !important;
}
body .block.product_fabricator_consumer h2.product-name {
    font-size: 30px !important;
	line-height: 1.1em !important;
}
body .block.product_fabricator_consumer h3.device-types {
    font-size:24px !important;
}
.product-summary h2.product-name {
    font-size:28px !important;
}
.block.product_fabricator_consumer .product-block .devices {
	background-color:#222f39;
	color:#fff !important;
}
.product-block.premium .purchase-terms {
	display:none !important;
}
.block.product_fabricator_consumer .product-block .features-list ul li::before {
	margin-left: -11px !important;
}
.block.product_fabricator_consumer .product-block .extra-link {
	color:#009edd !important;
	text-decoration:underline;
}
.offerDetailsLink {
	color:#009edd;
	text-decoration:underline;
}
.offerDetailsLink:hover {
	cursor: pointer;
}


/*System Requirements */
main .panel-group .panel,
main .block.system_requirements_consumer .panel-default > .panel-heading,
main .block.system_requirements .panel-default > .panel-heading{
    border-radius: 0 !important;
}
main .panel-default {
    border-color:#7dcc26 !important;
    margin-bottom:20px !important;
}
main .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color:#7dcc26 !important;
	padding:30px;
}
main .panel-default > .panel-heading + .panel-collapse > .panel-body > p > a,
main .panel-default > .panel-heading + .panel-collapse > .panel-body > p > a span{
	color:#009edd !important;
	/* text-decoration:underline !important; */
}

panel-title a:hover{

	text-decoration:none !important;
}

.image-award-position-top {
    position:absolute;
    top:0;
    right:0;
}
.image-award-position-right {
    position:absolute;
    bottom:20%;
    right:-20px;
}
.image-award-position-bottom-right {
    position:relative;
    top:-130px;
    right:-30vw;
    margin-bottom:-87px;
}


/*HELP ME CHOOSE */
.block.help_me_choose_consumer .step input[type="radio"]:checked + label::before {
	background: #009edd !important;
}
.block.help_me_choose_consumer .step h6 {
	background:#009edd !important;
	color:#ffffff !important;
}
.block.help_me_choose_consumer .step input[type="radio"] + label:hover::before{
	background:#222f39 !important;
}





/*PLUS MINUS TOGGLE */
.plus-minus-toggle {
  cursor: pointer;
  height: 21px;
  position: relative;
  width: 21px;
  margin:25px auto 0px;
    padding:10px 0px;
}
.plus-minus-toggle:hover{
  cursor:pointer;
}
.plus-minus-toggle > span.plus-minus-1,
.plus-minus-toggle > span.plus-minus-2{
  transition:all .2s ease;
  background:#222f39;
  width:21px;
  height:3px;
  display:block;
  position:absolute;
}
.plus-minus-toggle > span.plus-minus-2 {
  transform:rotate(90deg);
}
.plus-minus-toggle.toggleExpanded > span.plus-minus-1 {
  transform:rotate(180deg);
}
.plus-minus-toggle.toggleExpanded > span.plus-minus-2 {
  transform:rotate(180deg);
}
.extraContent {
  display:block;
  opacity:0;
  height:0px;
  transition:all .5s ease;
  overflow:hidden;
    padding:10px 20px;
}
.extraContent.contentExpanded {
 height:auto;
  opacity:1;
}




/*FEATURE PANELS for PRODUCT COMPARES*/
.feature-panel {
    padding:30px;
    background:#fff;
    border-radius:20px;
    box-shadow:-15px 30px 75px -30px rgba(34, 47, 57, 0.15);
    margin:20px 15px;
    width:100%;
	position: relative;
}
.feature-panel:first-child{
  margin-left:0px;
}
.feature-panel:last-child{
  margin-right:0px;
}
.feature-panel ul {
    padding-left:20px;
}
.feature-panel ul li {
    margin-bottom:10px;
}
.wr-flex {
    display:flex;
    flex-wrap:nowrap;
    justify-content: flex-start;
}
.feature-plus {
    align-self: center;
    text-align:center;
    min-width:40px;
}
.flex-icon {
    padding:5px 20px 0 0;
}
.flex-icon-wrap {
    display:flex;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.flex-icon-wrap ul li {
    margin-bottom:15px;
}
.flex-icon-wrap ul {
    padding-left:20px;
}
.feature-panel p {
    margin-bottom:0 !important; 
}
.wr-flex.award-flex .award-badges {
  margin:10px 5%;
  align-self: center;
  max-width: 20%;
}
.wr-flex.award-flex {
  flex-wrap: wrap;
	border:none !important;
}


.feature-panel.feature-resource {
  padding:0;
  margin: 40px 15px;
}
.resource-white-box {
  background:#fff;
  border-radius: 20px;
  padding:30px;
}
.type-label {
	font-size:14px;
	color:#7A8288;
}
.resource-panel-header {
  background-image: url(https://Webroot.com/download_file/5158);
  margin:0 auto;
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
  padding:40px;
  text-align:center;  
  background-position: center;
	background-size: cover;
}
.resource-panel-content{
	padding:30px;
}
.btn-text.btn-bottom {
  bottom:25px;
  text-decoration:underline;
}



@media(max-width:767px){
	.flex-icon-wrap.wrap-mobile{
		flex-wrap:wrap;
    padding:0px 20px;
	}
  .flex-icon-wrap.wrap-mobile img{
		margin:0 auto 30px;
	}
  .btn-text.btn-bottom {
	  bottom:10px;
	}
}




.image-right-floatover{
    position:absolute;
    top:-80px;
    left:0;
    width:800px;
}
.image-left-floatover{
    position:absolute;
    top:-80px;
    right:0;
    width:800px;
}
.headline-gradient {
  background: #7DCC26;
background: linear-gradient(to right, #7DCC26 5%, #009EDD 95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
}
.headline-gradient-reversed {
  background: #7DCC26;
background: linear-gradient(to left, #7DCC26 5%, #009EDD 95%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
display: inline-block;
}


.stroke-gradient{
	display:block;
	box-shadow:-15px 30px 75px -30px rgba(34, 47, 57, 0.15);
    border-radius:40px;
   padding:50px;
	position: relative;
}
.stroke-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 40px; 
  padding: 1px; 
  background:linear-gradient(60deg,#7dcc26,#009edd); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}
.content-left, .content-right{
	width:50%;
}
.content-right{
	text-align: right;
}
@media(max-width:991px) {
	.content-right{
		text-align: left;
	}
	.content-left, .content-right{
		width:100%;
		padding:20px;
	}
}


@media(max-width:767px) {
	.stroke-gradient{
		padding:40px 15px;
	}
    /*AWARD img*/
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .thumbnail a>img, .thumbnail>img, .img-responsive.badges {
        padding:20px 0;
        margin:0 auto;
        max-height:108px;
    }
    .image-award-position-top{
        left:0vw;
    }
    .image-award-position-bottom-right {
        right:inherit;
    }
    
    .image-right-floatover {
        position:relative;
        width: inherit;
        top:0;
        margin-bottom:-120px;
    }
    .image-left-floatover{
        position:relative;
        width: inherit;
        top:0;
    }
    .xs body h1, .xs body .head1 {
        font-size:50px !important;
    }
    .xs body h2, .xs body .head2 {
        font-size:38px !important;
    }
    .xs body h3, .xs body .head3 {
        font-size:32px !important;
    }
    .xs body h4, .xs body .head4 {
        font-size:28px !important;
    }
    .xs body h5, .xs body .head5 {
        font-size:22px !important;
    }
}
@media(max-width:991px) {
    .wr-flex {
        display:block;
    }
    .feature-panel {
        width:auto;
		margin:30px auto;
    }
    .btn-bottom{
        position:relative;
        bottom:20px;
        margin:-40px auto;
    }
}